/* ==========================
   Certifications Section
========================== */


.certifications {

    margin-bottom: 5rem;

}


.title {

    text-align:center;

    font-size:2rem;

    margin-bottom:2rem;

}


/* Card Grid */

.certificationGrid {

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(260px,1fr));

    gap:2rem;

}